<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing GitHubs">
    <!-- Suite -->
    <test name="Regression">
        <classes>
            <class name="api.directoryOfSettlements">
                <methods>
<!--                    <include name="verifyLogOutFromGitHub"/>-->
<!--                    <include name="checkLogoOnTheLoginPage"/>-->
<!--                    &lt;!&ndash; <exclude name="thirdTestCase"></exclude>&ndash;&gt;-->
                </methods>
            </class>
        </classes>
    </test>
    <!-- Test -->
</suite>